.header__top-banner {
   background-color: var(--dark-green-15);

   border-bottom: 2px solid var(--dark-green-25);
}

.header__top-banner__wrapper {
   background-color: var(--dark-green-20);

   border: 1px solid var(--dark-green-25);
   border-radius: 8px;

   overflow: hidden;
}

.header__top-banner__wrapper:hover .header__top-banner__sub-container {
   color: var(--green-70) !important;

   transition: color 0.5s;
}

.header__top-banner__wrapper:hover .header__top-banner__arrow-right {
   fill: var(--green-70);

   transition: fill 0.5s;
}

.header__top-banner__sub-container {
   gap: 14px;
}

.header__top-banner__arrow-right {
   width: 20px;
   height: 20px;

   fill: white;
}
