:root {
   --dark-green-15: #1a3129;
   --dark-green-20: #234338;
   --dark-green-25: #2c5446;
   --dark-green-30: #346454;
   --dark-green-40: #468671;
   --dark-green-60: #79b9a4;
   --dark-green-80: #bcdcd1;
   --dark-green-90: #ddede8;

   --green-70: #cbea7b;
   --green-75: #d3ee91;
   --green-80: #dcf1a7;
   --green-85: #e5f5bd;
   --green-90: #eef8d3;
   --green-95: #f6fbe9;
   --green-97: #fafdf2;
   --green-99: #fdfefb;
}
