:root {
   --dark-green-15: #1a3129;
   --dark-green-20: #234338;
   --dark-green-25: #2c5446;
   --dark-green-30: #346454;
   --dark-green-40: #468671;
   --dark-green-60: #79b9a4;
   --dark-green-80: #bcdcd1;
   --dark-green-90: #ddede8;
}
